.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    row-gap: 30px;
    overflow: auto;
    height: 497px;
    padding: 10px;
}

.section .section-wrapper {
    padding: 5px;
    border: 1px solid gray;
    height: min-content;
}

.section .section-header {
    text-align: center;
    margin: 10px;

}

.section .section-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section .section-article .section-article-left img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.section .section-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;

}